<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
</head>
<body>
<header th:replace="layouts/layout::header"></header>
<div class="container">
	<table class="table">
 <thead>
  <tr>
     <th scope="col">id</th>
     <th scope="col">Fecha de la Cita</th>
     <th scope="col">Nombre del Paciente</th>     
     <th scope="col">Nombre del Doctor</th>
  </tr>
 </thead>
 <tbody>
 
  <tr th:each="consulta: ${consultas}">     
     <td th:text="${consulta.id}"/>
     <td th:text="${consulta.dateAppointment}" />
     <td th:text="${consulta.paciente_name}" />     
     <td th:text="${consulta.doctor_name}" />
     <td> <a th:href="@{/consulta/} + ${consulta.id}" th:text="'Editar'" 
             class="btn btn-primary btn-xs" ></a></td>
     <td> <a th:href="@{/eliminarconsulta/} + ${consulta.id}" th:text="'Eliminar'" 
             class="btn btn-danger btn-xs" 
             onclick="return confirm('Estas seguro?')" ></a></td>
  </tr>
 </tbody>
</table>
</div>

<a th:href="@{/consulta}" class="btn btn-primary">Crear Consulta</a>
<a th:href="@{/}" class="btn btn-secondary">Regresar</a>
<footer th:replace="layouts/layout::footer"></footer>
</body>
</html>