<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
</head>
<body>
<header th:replace="layouts/layout::header"></header>
<div class="container">
	
	<form th:action="@{/consulta}" th:object="${consulta}" method="post" >
	<div class="form-group">
    	<label for="name">Fecha de Cita</label>
    	<input type="date"  class="form-control" id="dateAppointment" placeholder="2018-12-31" th:field="*{dateAppointment}"/>
    	<small th:if="${#fields.hasErrors('dateAppointment')}" th:errors="*{dateAppointment}" class="form-text text-danger"></small>
  	</div>
	<div class="form-group">
    	<label for="paciente_name">Nombre del Paciente</label>
    	<input type="text" class="form-control" id="paciente_name" placeholder="Juan" th:field="*{paciente_name}"/>
    	<small th:if="${#fields.hasErrors('paciente_name')}" th:errors="*{paciente_name}" class="form-text text-danger"></small>
  	</div>
	
  	<div class="form-group">
    	<label for="doctor_name">Nombre del Doctor</label>
    	<input type="text" class="form-control" id="doctor_name" placeholder="Perez" th:field="*{doctor_name}"/>
    	<small th:if="${#fields.hasErrors('doctor_name')}" th:errors="*{doctor_name}" class="form-text text-danger"></small>
  	</div>
  	
  	
  	<input type="submit" value="Crear Consulta"  class="btn btn-primary"/>
  	<a th:href="@{/consultas}" class="btn btn-secondary">Regresar</a>  	
	<input type="hidden" id="id" th:field="*{id}" />
</form>
</div>	
	
<footer th:replace="layouts/layout::footer"></footer>
</body>
</html>