<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
</head>
<body>
<header th:replace="layouts/layout::header"></header>
<div class="container">
	<table class="table">
 <thead>
  <tr>
     <th scope="col">id</th>
     <th scope="col">Nombres</th>
     <th scope="col">Apellidos</th>     
     <th scope="col">Edad</th>
  </tr>
 </thead>
 <tbody>
 
  <tr th:each="paciente: ${pacientes}">     
     <td th:text="${paciente.id}"/>
     <td th:text="${paciente.nombres}" />
     <td th:text="${paciente.apellidos}" />     
     <td th:text="${paciente.edad}" />
     <td> <a th:href="@{/paciente/} + ${paciente.id}" th:text="'Editar'" 
             class="btn btn-primary btn-xs" ></a></td>
     <td> <a th:href="@{/eliminarpaciente/} + ${paciente.id}" th:text="'Eliminar'" 
             class="btn btn-danger btn-xs" 
             onclick="return confirm('Estas seguro?')" ></a></td>
  </tr>
 </tbody>
</table>
</div>

<a th:href="@{/paciente}" class="btn btn-primary">Crear paciente</a>
<a th:href="@{/index}" class="btn btn-secondary">Regresar</a>
<footer th:replace="layouts/layout::footer"></footer>
</body>
</html>