<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
</head>
<body>
<header th:replace="layouts/layout::header"></header>
<div class="container">
	<table class="table">
 <thead>
  <tr>
     <th scope="col">id</th>
     <th scope="col">User</th>
     <th scope="col">Pass</th>     
     
  </tr>
 </thead>
 <tbody>
 
  <tr th:each="usuario: ${usuarios}">     
     <td th:text="${usuario.id}"/>
     <td th:text="${usuario.user}" />
     <td th:text="${usuario.pass}" />     
     
     <td> <a th:href="@{/usuario/} + ${usuario.id}" th:text="'Editar'" 
             class="btn btn-primary btn-xs" ></a></td>
     <td> <a th:href="@{/eliminarUsuario/} + ${usuario.id}" th:text="'Eliminar'" 
             class="btn btn-danger btn-xs" 
             onclick="return confirm('Estas seguro?')" ></a></td>
  </tr>
 </tbody>
</table>
</div>

<a th:href="@{/usuario}" class="btn btn-primary">Crear Producto</a>
<a th:href="@{/}" class="btn btn-secondary">Regresar</a>
<footer th:replace="layouts/layout::footer"></footer>
</body>
</html>